/*@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');*/
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap);
.yW, .zA>.a4W, .a3s, .a3s *, .g6, .ha>.hP, .Am, .LW-avf.Am, .TO .nU>.n0, .TO.NQ .nU>.n0, .TO.nZ .nU>.n0, .ah9>.CJ, .n3>.CL>.CK, .z0>.L3, .yW, .zA>.a4W, .a3s, .g6, .ha>.hP, .Am, .LW-avf.Am, .TO .nU>.n0, .TO.NQ .nU>.n0, .TO.nZ .nU>.n0, .ah9>.CJ, .n3>.CL>.CK, .z0>.L3, .Am, .LW-avf.Am, td, .hx .hb {
    font-family: 'Inter', sans-serif !important;
}

 .yO {
     color: #666;
}
 .zA.yO:first-child {
     margin-top: 2px;
}
 .zA.yO:hover {
    /*color: black;
     background: linear-gradient(to bottom,#f3f3f3,#e0e0e0);
     */
}
 .zA.yO {
     margin-bottom: 2px;
     border-radius: 10px;
    /* background: linear-gradient(to bottom,#f7f5f6,#efefef);
     */
}
 .ha>.hP {
     color: #999;
     font-size: 2rem;
}
 .Wr>.Wn {
     text-transform: uppercase;
     color: #999
}
/* dark theme */
 .gb_Se, .gb_Se.gb_Te, .TD, .aaZ, .aoT, .aoP .Ar, .Am, .vO {
     background: #101010 !important;
     color: #ccc !important;
}
 .gb_df, .a3s *, td {
     color: #ccc;
}

.gE, .aeJ, .nH, .zA.yO, .gs, .iY .Bu, .zE, .nr, .aRi, .a3s div, .a3s *, .ac2, .hb, .gb_fa, .ajA, .ZF-z6, .ZF-zT, .ZF-Av .lJ, .ZF-Av .lN, .aDj>.aDh, .bv8, .vR>.vN, .IG, .GQ, .aC3, .aDg>.aDj, .HM .aDi::after, .aoI td, .amn>.ams, .gb_Ue, .aU4, .hq {
     background: #202020;
    color: white !important;
}
.a3s td, .gs, .adn table td { background: #202020 !important}

.adn table td h4 { background: #202020 !important; }


.im, .aoI td { color: #607d8b }
 .a3s div, .ac2, .hb, .ZF-z6, .ZF-zT, .ZF-Av .lJ, .ZF-Av .lN, .bs1+.bs3, .btj+.aD, .Am, .LW-avf.Am, .adn table * {
     color: #ccc !important;
}
.ajT { background: #f44336 !important; }
 .a3s div a, .az9 > span, .id .il, .iW, .a8i {
     color: #2196f3 !important;
     background: #191919 !important;
}
 .x7, .TO .nU>.n0, .qj, .zA.yO, .hx, .g6{
     color: #ccc !important;
}
 .zE, .nr, .aRi, .gH>.gK * {
     color: white !important 
}
 .adn table, .Zs .zA {
     border: none !important 
}
 .z0>.L3 {
     background: #444;
     color: white;
}
 .zA.yO:hover, .zA.yO {
     border-radius: 0;
}
 .TO .nU>.n0, .qj, .zA.yO, .hx .gD, .vN>.vT {
     color: #fefefe 
}
 .gs {
     background: white;
}
 .wT>.n3 .byl:first-child .aim:first-child .nZ, .z0>.L3:hover, .TO.NQ, .Am, .LW-avf.Am, .vO  {
     background: #101010;
}
 div[role=listitem].h7:last-child .adn {
     border: 0 !important;
}

 .qr {
     border-color: #999
}

.ajy>.ajz {background-image: url('https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_white_20dp.png') }
