@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
 .yW, .zA>.a4W, .a3s, .a3s *, .g6, .ha>.hP, .Am, .LW-avf.Am, .TO .nU>.n0, .TO.NQ .nU>.n0, .TO.nZ .nU>.n0, .ah9>.CJ, .n3>.CL>.CK, .z0>.L3, .yW, .zA>.a4W, .a3s, .g6, .ha>.hP, .Am, .LW-avf.Am, .TO .nU>.n0, .TO.NQ .nU>.n0, .TO.nZ .nU>.n0, .ah9>.CJ, .n3>.CL>.CK, .z0>.L3, .Am, .LW-avf.Am {
     font-family: 'Catamaran', sans-serif !important;
}
 .yO {
     color: #666;
}
 .zA.yO:first-child {
     margin-top: 2px;
}
 .zA.yO:hover {
    /*color: black;
     background: linear-gradient(to bottom,#f3f3f3,#e0e0e0);
     */
}
 .zA.yO {
     margin-bottom: 2px;
     border-radius: 10px;
    /* background: linear-gradient(to bottom,#f7f5f6,#efefef);
     */
}
 .ha>.hP {
     color: #999;
     font-size: 2rem;
}
 .Wr>.Wn {
     text-transform: uppercase;
     color: #999
}
/* dark theme */
 .gb_Se, .gb_Se.gb_Te, .TD, .aaZ, .aoT, .aoP .Ar, .Am, .vO {
     background: #101010 !important;
     color: #ccc !important;
}
 .gb_df {
     color: white !important;
}
.aeJ, .nH, .zA.yO, .gs, .iY .Bu, .zE, .nr, .aRi, .a3s div, .a3s *, .ac2, .hb, .gb_fa, .ajA, .ZF-z6, .ZF-zT, .ZF-Av .lJ, .ZF-Av .lN, .aDj>.aDh, .bv8, .vR>.vN, .IG, .GQ, .aC3, .aDg>.aDj, .HM .aDi::after {
     background: #202020 !important;
}
.im { color: #607d8b }
 .a3s div, .ac2, .hb, .ZF-z6, .ZF-zT, .ZF-Av .lJ, .ZF-Av .lN, .bs1+.bs3, .btj+.aD, .Am, .LW-avf.Am, .adn table * {
     color: #ccc !important;
}
.ajT { background: #f44336 !important; }
 .a3s div a, .az9 > span, .id .il, .iW {
     color: #2196f3 !important;
     background: #191919 !important;
}
 .x7, .TO .nU>.n0, .qj, .zA.yO, .hx, .g6{
     color: #ccc !important;
}
 .zE, .nr, .aRi, .gH>.gK * {
     color: white !important 
}
 .adn table {
     border: none !important 
}
 .z0>.L3, .amn>.ams{
     background: #444;
     color: white;
}
 .zA.yO:hover {
     border-radius: 0;
}
 .TO .nU>.n0, .qj, .zA.yO, .hx .gD, .vN>.vT {
     color: #fefefe 
}
 .gs {
     background: white;
}
 .wT>.n3 .byl:first-child .aim:first-child .nZ, .z0>.L3:hover, .TO.NQ  {
     background: #101010;
}
 div[role=listitem].h7:last-child .adn {
     border: 0 !important;
}

/* icons */
 .xY>.T-Jo, .bAP, .ar6, .ar9, .asl, .ase, .ar8, .brW,.bq5, .asb, .gW, .xL, td.apU>.T-KT.aXw::before, .pH-A7 {
     opacity: 0.7 !important
}
 .xY>.T-Jo {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/check_box_outline_blank_white_20dp.png');
}
.xY>.T-Jo-Jp { background-image: url('https://www.gstatic.com/images/icons/material/system/2x/check_box_white_20dp.png') }
 .ar6 {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/arrow_back_white_20dp.png') 
}
 .ar9 {
     background-image:url('https://www.gstatic.com/images/icons/material/system/2x/delete_white_20dp.png') 
}
 .asl {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/report_white_20dp.png') 
}
 .ase {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/drive_file_move_white_20dp.png') 
}
 .ar8 {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/archive_white_20dp.png') 
}
 .bAP {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/mark_as_unread_white_20dp.png') 
}
 .brW {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/watch_later_white_20dp.png') 
}
.bq5 { background-image: url('https://www.gstatic.com/images/icons/material/system/1x/move_to_inbox_white_20dp.png')}
 .asb {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/label_white_20dp.png') 
}
.asf { background-image: url('https://www.gstatic.com/images/icons/material/system/1x/refresh_white_20dp.png')}
 .gW {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/attachment_white_20dp.png')
}
 .yE {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/attachment_white_20dp.png') 
}
 .xL {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/today_white_20dp.png')
}
 td.apU>.T-KT.aXw::before {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/star_border_white_20dp.png')
}
 .pH-A7 {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/label_important_outline_white_20dp.png')
}
 .aHS-bnw .qj {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/grade_white_20dp.png') 
}
 .aHS-bu1 .qj {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/watch_later_white_20dp.png')
}
 .aHS-bnu .qj {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/send_white_20dp.png')
}
 .aHS-bnq .qj {
     background-image: url('https://www.gstatic.com/images/icons/material/system/2x/insert_drive_file_white_20dp.png') 
}
.G-tF .T-Jo { background-image: url('https://www.gstatic.com/images/icons/material/system/1x/check_box_outline_blank_white_20dp.png') }
 .qr {
     border-color: #999
}
